body {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  color: #707070;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


h5 {
  color:#707070;
}

.button{
  color: black;
  background-color: #707070;
  border-radius:3px;
  border-color: black;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.title-web {
  font-size: 100pt;
  color:#707070;
}

.artist-web {
  font-size: 25pt;
  color:#707070;
}
.blinking{
  animation:blinkingText .8s infinite;
}

@keyframes blinkingText{
  0%{     color: #707070   }
  49%{    color: #707070 }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color:#707070    }
}